BOT_TOKEN=
BOT_URL=
DB_HOST=postgres
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mafia
MAFIA_INIT_DB=True
MAFIA_MAXIMUM_NUMBER_OF_PLAYERS=30
MAFIA_MINIMUM_NUMBER_OF_PLAYERS=4
MAFIA_MAXIMUM_REGISTRATION_TIME=5
RABBITMQ_DEFAULT_USER=quest
RABBITMQ_DEFAULT_PASS=quest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
REDIS_HOST=redis
REDIS_PORT=6379
AI_USE=False
AI_DEEPSEEK_API_KEY=sk-or-v1-token